<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>Blog#3000</title>
</head>
<body>
    <div class="NewButton"><a href="/blog/new">Vytvořit další more</a></div>
    <div class="user">
        <a href="/register">Registrovat se</a>
        <a href="/login">Přihlásit se</a>
    </div>
    <div class="PoleBlog">
        <% BlogPanel.forEach(Put => { %>
            <div id="Karta">
                <div class="Karta-Name"><%= Put.name %></div>
                <div class="Karta-Other">
                    <div class="Karta-Author"><%= Put.username %> <p><%= Put.date %></p></div>
                    <div class="Karta-Description"><%= Put.description %></div>

                </div>

            </div>
        <% }) %>
    </div>
    
</body>
</html>
