<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog#3000 - Přihlášení</title>
</head>
<body>
    <form action="/loginpost" method="post">
        <label>Zadejte jméno</label>
        <input  type="text" name="FormUserNameLogin"
        <label>Zadejte heslo</label>
        <input  type="password" name="FormPasswordLogin">
        <button type="submit">Registrovat</button>
    </form>
    
</body>
</html>

<style>
    *{
        background-color: grey;
    }
</style>