<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/register.css">
    <title>Blog#3000 - Registrace</title>
</head>
<body>

    <a href="/" id="exit"><</a>
    <div class="starttext">
        <h1>Začínáme</h1>
        <span>Pro začátek si vytvořte účet</span>
    </div>
    <form action="/registerpost" method="post">
        <div class="container"><label>Vyberte uživatelské jméno</label><p id="warnname"></p></div>
        <input required type="text" name="FormUserNameRegister">
        <div class="container"><label>Vyberte heslo</label><p id="warnpass"></p></div>
        <input required type="password" name="FormPasswordRegister">
        <div class="container"><label>Zadejte heslo znovu</label><p id="warnpasschck"></p></div>
        <input required type="password" name="FormPasswordChecker">
        <div class="button">
            <button class="btn" type="submit">Vytvořit účet</button>
        </div>
        <div class="bottom">
            <span>Již máte účet? <a href="/login">Přihlásit se</a></span>
        </div>
    </form>


</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const warnName = document.getElementById('warnname');
    const warnPass = document.getElementById('warnpass');
    const warnPasschck = document.getElementById('warnpasschck');
    const userName = document.querySelector('input[name=FormUserNameRegister]');
    const userPassword = document.querySelector('input[name=FormPasswordRegister]');
    const userPassword2 = document.querySelector('input[name=FormPasswordChecker]');
    $(function () {
        document.addEventListener('keyup', ()=> {
            $.ajax({
                type: 'post',
                url: '/userpost',
                data: $('FORM').serialize(),
                success: function(data){
                    console.log(data);
                    warnName.innerHTML = data[0].zprava; //User
                    warnPass.innerHTML = data[1].zprava; //Password
                    warnPasschck.innerHTML = data[2].zprava; //Passwordauth

                    if(userName.value == ''){
                        warnName.style.display = 'none'
                    }else{
                        warnName.style.display = 'block'
                    }   
                    if(userPassword.value == ''){
                        warnPass.style.display = 'none'
                    }else{
                        warnPass.style.display = 'block'
                    }
                    if(userPassword2.value == ''){
                        warnPasschck.style.display = 'none'
                    }else{
                        warnPasschck.style.display = 'block'
                    }  
                    if(data[0].error == false && data[1].error == false && data[2].error == false){
                        PovolitOdeslani();
                    }else{
                        ZakazatOdeslani();
                    }
                    
                    
                }



            })
        })
    })
    ZakazatOdeslani();
function PovolitOdeslani(){
    $(".btn[type='submit']").prop('disabled', false);
    document.querySelector("button").style.cursor = 'pointer'  
}
function ZakazatOdeslani() {
    $(".btn[type='submit']").prop('disabled', true);
    document.querySelector("button").style.cursor = 'not-allowed'  
}   
</script>











