
    <section id="HorniMenu">
        <div class="topmenu">
            <div class="menu">
                <div class="left">Dobrý den, <%= username %></div>
                <div class="right">
                    <a href="/">Blog</a>
                    <a href="#">Profil</a>
                    <a href="/logout">Odhlásit se</a>
                </div>
            </div>
        </div>
    </section>
    <section id="PodMenu">
        <div class="MainUserPanel">
            <div class="ManuSett">
                <ul>

                    <li>
                        <a href="/u/panel">
                            <i>
                                <img src="/img/user.webp" id="imgcont" height="23px" width="23px">
                            </i>
                            Profil
                        </a>
                    </li>
                    <li>
                        <a href="/u/userblog">
                            <i>
                                <img src="/img/text.webp" id="imgcont" height="23px" width="23px">
                            </i>
                            Vaše blogy
                        </a>
                    </li>
                    <li>
                        <a href="/u/nastaveni">
                            <i>
                                <img src="/img/settings.webp" id="imgcont" height="23px" width="23px">
                            </i>
                            Nastavení
                        </a>
                    </li>
                    <li>
                        <a href="/blog/new">
                            <i>
                                <img src="/img/writing.webp" id="imgcont" height="23px" width="23px">
                            </i>
                            Vytvořit blog
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i>
                                <img src="/img/logout.webp" id="imgcont" height="23px" width="23px">
                            </i>
                            Odhlásit se
                        </a>
                    </li>



                </ul>
            </div>
        </div>