<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/panel.css">
    <title>Blog#3000</title>
</head>
<body>
    
    <%- include('BlogBase') %>
        <div class="dashboard">
        </div>
    </section>
 
</body>
</html>
<style>
    .MainUserPanel{
    width: 210px;
    min-width: 210px;
    max-width: 210px;
    height: 100vh;
    border-right: 1px rgba(0, 0, 0, 0.262) solid;
    box-shadow: inset -8px 0 6px -2px rgb(162 162 162 / 10%);   
    background-color: rgba(0, 0, 0, .03);

}
</style>