*{
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

/* <----Color----> */
html{
    background-color: white;
    --Menu: #d1d1d19d;
    --NameInputColor: rgb(46, 46, 46);
    --TextAreaColor: black;
    --Button: #2ecc71;
    --TextLabel: black;
}    

html[theme ="darkmode"]{
    background-color: #181818;
    --Menu: #535353;
    --NameInputColor: rgb(255, 255, 255);
    --TextAreaColor: rgb(255, 255, 255);
    --Button: #2ecc71;
    --TextLabel: #ecf0f1;
}

/* <----Form----> */
form{
    width: 100%;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
}
/* <----In Form----> */
label{
    font-size: 1.3rem;
    color: var(--TextLabel);
}
.container{
    display: flex;
}
input{
    background-color: var(--Menu);
    display: block;
    border: none;
    width: 100%;
    padding: 10px;
    color: var(--NameInputColor);
    font-size: 1.3rem;
    outline-color: rgba(5, 142, 255, 0.521);
    outline-width: 2px;
    margin-bottom: 2%;
    margin-top: .5%;
}
/* <-TextArea-> */
textarea{
    background-color: var(--Menu);
    color: var(--TextAreaColor);
    border: none;
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 1.3rem;
    padding: 10px;
    outline: none;
}
/* <-Button-> */
.button{
    width: 100%;
    max-width: 50%;
    margin-top: 20px;
    margin-right: auto;
}
button{
    background-color: var(--Button);
    border: none;
    transition-delay: 0s;
    padding: 7px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color .5s;
}
button:hover{
    background-color: #28a745;
    transition: .5s all;
}

#exit{
    font-size: 2rem;
    color: var(--TextAreaColor);
    text-decoration: none;
    padding-left: 13px;
    width: 30px;
    display: flex;

}
/* warn */
p{
    color: #EA2027;
   margin-left: 1%;


}
.starttext{
    text-align: center;
    margin-top: 8vh;
    color: var(--TextLabel);
}

.bottom{
    margin-top: 3%;
    color: var(--TextLabel);

}