*{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}
#HorniMenu{
    width: 100%;
    padding: 13px 0px;

    border-bottom: 1px rgba(0, 0, 0, 0.262) solid;
}

.topmenu{
    width: 100%;
    max-width: 95%;
    margin: auto;
}
.menu{

    display: flex;
    justify-content: space-between;
}
.right a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.MainUserPanel{
    width: 210px;
    min-width: 210px;
    max-width: 210px;
    border-right: 1px rgba(0, 0, 0, 0.262) solid;
    box-shadow: inset -8px 0 6px -2px rgb(162 162 162 / 10%);   
    background-color: rgba(0, 0, 0, .03);

}

.ManuSett li{
    width: 100%;
}
.ManuSett li:hover{

    background-color: rgba(0, 0, 0, 0.068);
}

.ManuSett  a{
    padding: 10px 20px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

#imgcont{
    margin-right: 10px;
}
#PodMenu{
    display: flex;
}
/* Nastavení */
.UserSetting{
    width: 100%;
    height: 100%;
}
.zmenitudaje{
    padding: 50px;
}

input{
    background-color:rgba(0, 0, 0, 0.068);
    display: block;
    border: none;
    width: 100%;
    padding: 10px;
    color: var(rgba(0, 0, 0, 0.349));
    font-size: 1.3rem;
    outline-color: rgba(5, 142, 255, 0.521);
    outline-width: 2px;
    margin-bottom: 2%;
    margin-top: .5%;
}
button{
    background-color: #2ecc71;
    border: none;
    margin-top: 5px;
    transition-delay: 0s;
    padding: 6px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color .5s;
}
button:hover{
    background-color: #28a745;
    transition: .5s all;
}
#ZmenitJmenoForm{
    margin-bottom: 40px;
}
label{
    font-size: 1.3rem;
}
#warnname{
    color: #EA2027;

}
.err{
    color: #EA2027;;
    font-size: 1rem;
}
.success{
    text-align: center;
    color: #44bd32;
    font-weight: bold;
    font-size: 1.25rem;
}



/* karta */
/* karta */
/* karta */
/* karta */
/* karta */







/* <----PoleBlog----> */
.dashboard{
    width: 100%;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

/* <----Karta----> */
#Karta{
    background-color:  rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 10px;

    

}
/* <-Name-> */
.Karta-Name{
    font-size: 3rem;
    color: black;
}


/* <-Author-> */
.Karta-Author{
    font-size: 1.2rem;
    color:  rgb(0, 0, 0);
    margin-bottom: 10px;
    display: flex;
}
/* <-Date-> */
.Karta-Author p{
    font-size: 1rem;
    color:  rgba(24, 24, 24, 0.733);
    align-self: center;
    margin-left: 10px;
}

/* <-Description-> */
.Karta-Description{
    padding: 7px;
}
/* <----Login/Register Button----> */
.user{
    text-align: right;
    padding: 20px;
}
.user a{
    color: rgba(0, 0, 0, 0.693);
    text-decoration: none;
    font-weight: 900;
}
.Karta-bottom{
    margin-top: 15px;
}
.Karta-bottom-img{
    width: 23px;
    height: 23px;
    cursor: pointer;
}
#Karta-bottom-trash{
    float: right;
}