<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Newblog.css">

    <title>Blog#3000</title>
</head>
<body>
    <a href="/u/panel" id="exit"><</a>
    <form  method="post">
        <% data.forEach(Put => { %>
            
            <label>Název</label>
            <input required type="text" name="FormInputName" value="<%= Put.name %>">
            <label>Popisek</label>
            <textarea required name="FormInpuDescription"><%= Put.description %></textarea>
            <div class="button">
                <button type="submit">Upravit</button>
            </div>
        <% }) %>
    </form>

</body>
</html>