<!DOCTYPE html>
<html lang="cs"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Newblog.css">
    <title>Blog#3000-Editor</title>
</head>
<body>
    <a href="/u/panel" id="exit"><</a>
    <form action="/post" method="post">
        <label>Název</label>
        <input required type="text" name="FormInputName">
        <label>Popisek</label>
        <textarea required name="FormInpuDescription" ></textarea>
        <div class="button">
            <button type="submit">Zveřejnit</button>
        </div>


    
    </form>
    
</body>
</html>
